$height__: 100vh;
section {
  padding: 5rem 0;
}
.s__banner {
  background: url(../assets/img/inner-page-banner-c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  display: flex;
  align-items: center;
  text-align: center;
  position: relative;
}
.b__heading {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 253, 253);
  padding: 4rem 0px;
  background-color: rgb(244, 250, 255);
}
.container-fluid {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.row__1 {
  margin-bottom: 10rem;
  &:last-child {
    margin-bottom: 0;
  }
}
.height-50 {
  height: 50vh;
}
.overlay__ {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0 0 0 / 52%);
}
.banner_logo {
  max-width: 100%;
  width: 34rem;
}
// .bottom_bg {
//   position: absolute;
//   background-color: #d8d8d8;
//   bottom: 0;
//   width: 100%;
//   height: 1.7rem;
//   z-index: 10000;
// }
.px-app {
  h1 {
    width: $full__width;
    height: $full__height;
    line-height: calc($full__height * 0.58);
    font-size: 4rem;
    color: #eceff1;
    .px-glitch {
      text-align: center;
    }

    .px-top__ {
      font-weight: 600;
    }
    .px-anim__ {
      color: #477cab;
    }
  }
  .px-glitchsvg {
    font-size: 4rem;
    filter: drop-shadow(2px 0 0 rgb(138, 134, 138))
      drop-shadow(-2px 0 0 rgba(0, 255, 255, 1));
  }
}

h2 {
  font-weight: 600;
  line-height: 1.2;
  font-family: "Barlow Condensed", sans-serif;
  position: relative;
  color: #eceff1;
  font-size: 4.4rem;
}
.paragraph_ {
  color: $primary_one;
  font-size: 1.3rem;
}
.__line___ {
  width: $full__width;
  position: relative;
  font-weight: 600;
  display: block;
  height: $full__height;
  letter-spacing: -1px;

  span {
    color: #787878;
  }

  &:before {
    content: "";
    font-size: 3.4rem;
    display: block;
    width: 67%;
    height: 0.4rem;
    background-color: #6c6c6c;
    position: absolute;
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 0.4rem;
    background-color: #3c7b77;
    position: absolute;
  }
}
.arrow__wrapper___ {
  background-color: #eceff1;
  width: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: -6rem;
  transform: translate(-50%, -2rem);
  z-index: 10;
  transition: 0.4s all;
  &:hover {
    background-color: transparent;
    border: 0.1rem solid $white;
    i {
      color: $white;
    }
  }
  .arrow {
    font-size: 2rem;
    color: $black;
    position: absolute;
    -webkit-animation: arrows 2.8s 0.4s;
    animation: arrows 1.8s 0.9s;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
  }
  @-webkit-keyframes arrows {
    0% {
      top: 0;
    }
    10% {
      top: 12%;
    }
    20% {
      top: 0;
    }
    30% {
      top: 12%;
    }
    40% {
      top: -12%;
    }
    50% {
      top: 12%;
    }
    60% {
      top: 0;
    }
    70% {
      top: 12%;
    }
    80% {
      top: -12%;
    }
    90% {
      top: 12%;
    }
    100% {
      top: 0;
    }
  }

  @keyframes arrows {
    0% {
      top: 0;
    }
    10% {
      top: 12%;
    }
    20% {
      top: 0;
    }
    30% {
      top: 12%;
    }
    40% {
      top: -12%;
    }
    50% {
      top: 12%;
    }
    60% {
      top: 0;
    }
    70% {
      top: 12%;
    }
    80% {
      top: -12%;
    }
    90% {
      top: 12%;
    }
    100% {
      top: 0;
    }
  }
}
.social_media {
  position: fixed;
  left: 0;
  top: calc($height__ * 0.4);
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0;
  border-radius: 0.4rem;
  filter: grayscale(1);
  z-index: 1000;

  transition: 0.3s all;

  ul {
    li {
      margin-bottom: 1rem;
      a {
        position: relative;
        img {
          width: 3.6rem;
        }

        &:after {
          content: "";
          display: block;
          width: 0.11rem;
          height: 2.5rem;
          background: #9b9b9b;
          position: absolute;
          right: 1.6rem;
          top: 1.4rem;
        }
      }
      .instragram_ {
        &:after {
          content: none;
        }
      }
    }
    > :last-child {
      margin-bottom: 0;
    }
  }
  &:hover {
    filter: grayscale(0);
  }
}

.back_to_top_container {
  #back_top {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0e0e;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    border-radius: 0.4rem;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    cursor: pointer;

    cursor: pointer;
    &:after {
      content: "\f077";
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      font-size: 2rem;
      line-height: 50px;
      color: #fff;
    }
    &::hover {
      cursor: pointer;
      background-color: #333;
    }
    &:active {
      background-color: #555;
    }
  }
  .show {
    opacity: 1 !important;
    visibility: visible !important;
  }
}
@media only screen and (max-width: 1200px) {
  .px-app h1 {
    font-size: 3.7rem;
    margin-bottom: 1rem !important;
  }
  h2 {
    font-size: 3.3rem;
  }
  .paragraph_ {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 992px) {
  .px-app h1 {
    font-size: 3.3rem;
    margin-bottom: 0 !important;
  }
  h2 {
    font-size: 2.7rem;
  }
  .banner_ .content__ .px-app_button {
    margin-top: 0;
  }
  .height-50 {
    height: 30vh;
  }
  .banner_logo {
    width: 14rem;
  }
  .row__1 {
    margin-bottom: 3rem !important;
  }
  .order__2 {
    order: 2;
  }
  .arrow__wrapper___ {
    width: 2.7rem;
    height: 2.7rem;
  }
  .arrow__wrapper___ .arrow {
    font-size: 1.5rem !important;
  }
}
@media only screen and (max-width: 766px) {
  .px-app h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2.4rem;
  }
  .paragraph_ {
    font-size: 1rem;
  }
  .arrow__wrapper___ {
    width: 2rem;
    height: 2rem;
    top: -0.2rem;
  }
  .arrow__wrapper___ .arrow {
    font-size: 1.2rem !important;
  }
  .back_to_top_container #back_top {
    width: 29px;
    height: 29px;
  }
  .back_to_top_container #back_top:after {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 576px) {
  .px-app h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 2.3rem;
  }
  .px-app h1 span {
    color: $white !important;
  }

  .arrow__wrapper___ {
    top: -1.2rem;
  }
}
@media only screen and (max-width: 350px) {
  .px-app h1 {
    font-size: 2rem;
  }
}
