.btn_ {
  font-weight: 500;
  color: #ffffff;
  width: $button__width;
  max-width: 100%;
  text-align: center;
  margin: 1rem 0;
  position: relative;
  height: $button_height;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all ease-in-out;
  border: 0.1rem solid #1b1b1b;
  background: #1b1b1b;
  span {
    position: absolute;
    left: calc($button__width * 0.11);
  }
  &:after {
    content: "";
    display: block;
    width: 4rem;
    height: 0.01rem;
    opacity: 1;
    background: $white;
    position: absolute;
    transition: 0.4s all ease-in-out;
    position: absolute;
  }

  &:after {
    right: calc($button__width * -0.096);
  }

  &:hover:after {
    opacity: 1;
    right: calc($button__width * -0.057);
  }
  &:hover {
    background-color: transparent;
    border: 0.1rem solid $white;
    color: $white;
  }
}

@media only screen and (max-width: 1200px) {
  .btn_ {
    $button__width: 155px;
    $button__height: 42px;
    width: $button__width;
    height: $button__height;
    font-size: 1.3rem;
  }
  .btn_:after {
    width: 3.4rem;
  }
}

@media only screen and (max-width: 992px) {
  $button__width: 134px;
  $button__height: 33px;
  .btn_ {
    width: $button__width;
    height: $button__height;
    font-size: 1rem;
  }
  .btn_:after {
    width: 2.8rem;
    right: calc($button__height * -0.35);
  }
}

@media only screen and (max-width: 766px) {
  .btn_ {
    $button__width: 112px;
    $button__height: 33px;
    width: $button__width;
    height: $button__height;
  }
  .btn_:after {
    width: 1.8rem !important;
  }
}
@media only screen and (max-width: 576px) {
  .btn_ {
    $button__width: 104px;
    $button__height: 25px;
    width: $button__width;
    height: $button__height;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 350px) {
  .btn_ {
    $button__width: 84px;
    $button__height: 15px;
    width: $button__width;
    height: button__height;
    font-size: 0.7rem;
  }
}
