/* normalize css*/
@import "normalize.css/normalize.css";

/* google font poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* primary css */
@import "./src/styles/primary_css/_primary";
/* variable  */
@import "./src/styles/variable_css/_variable";
@import "./src/styles/button_scss/button";
/* header css*/
@import "./src/styles/section/header_css/_header";
@import "./src/styles/section/banner_css/_banner";

@import "./src/styles/section/recent_listing_css/recent";
@import "./src/styles/section/card_contianer_css/_card";
@import "./src/styles/section/work_section/_work";
@import "./src/styles/section/master_css/master";
@import "./src/styles/section/team_css/_team";
@import "./src/styles/common_scss/common";
@import "./src/styles/section/testimonial__/testimonial";
@import "./src/styles/footer/footer";
[data-pushbar-id] {
  background: linear-gradient(rgba(2, 2, 2, 0.842), rgba(0, 0, 0, 0.5)),
    url(./src/assets/img/bg2.jpg);
  background-size: cover;
  background-position: bottom;
}
