.home_buying {
  background-color: #eceff1;

  .container-fluid {
    max-width: 80% !important;
  }
  img {
    width: 55rem;
    max-width: 100%;
  }

  h5 {
    color: $primary_two;
    font-weight: 500;
    font-size: 1.9rem;
  }
}
