.testimonial__sec {
  padding: 7rem 0;
  background: linear-gradient(
      rgba(255, 255, 255, 0.631372549),
      rgb(255 255 255 / 85%)
    ),
    url(/src/assets/img/modern-minimalist-ivory-home-garage-9euuep88adzkg08e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center right;
  .px-app_heading_two {
    margin: auto;
    h2 {
      margin-bottom: 5rem;
    }
  }
  .testimonial {
    margin: 0 20px 50px;
  }
  .testimonial .pic {
    display: inline-block;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 0 15px 15px 0;
  }
  .testimonial .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
  .testimonial .testimonial-profile {
    display: inline-block;
    position: relative;
    top: -21px;
  }
  .testimonial .title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #2f2f2f;
    text-transform: capitalize;
    margin: 0 0 7px 0;
  }
  .testimonial .post {
    display: block;
    font-size: 14px;
    color: #111111;
    font-weight: 500;
  }
  .testimonial .description {
    padding: 20px 22px;
    height: $full__height;
    background: #494949;
    font-size: 15px;
    color: #fff;
    line-height: calc($full__height * 1.3);
    margin: 0;
    position: relative;
  }
  .testimonial .description:before,
  .testimonial .description:after {
    content: "";
    border-width: 18px 0 0 18px;
    border-style: solid;
    border-color: #494949 transparent transparent;
    position: absolute;
    bottom: -18px;
    left: 0;
  }
  .testimonial .description:after {
    border-width: 18px 18px 0 0;
    left: auto;
    right: 0;
  }
  .owl-theme .owl-controls {
    margin-top: 10px;
    margin-left: 30px;
  }
  .owl-theme .owl-controls .owl-buttons div {
    opacity: 0.8;
    background: $black;
  }
  .owl-prev:before,
  .owl-next:before {
    content: "\f053";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    color: $white;
  }
  .owl-next:before {
    content: "\f054";
  }
}
