.pagination__ {
  padding: 0;
  height: $full__height;
  background: #eceff1;
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    padding: calc($full__height * 0.04) 0;
  }
  .pages {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .page {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    &:after {
      content: "";
      width: 100%;
      height: 0.2rem;
      background-color: $primary_two;
      position: absolute;
      bottom: 0;
      transition: transform 0.3s all;
      transform-origin: left;
      transform: scaleX(0);
    }
    &:hover {
      color: #2e2d2d;
    }
    &:hover:after {
      transition: transform 0.3s;
      transform: scaleX(1);
    }
  }

  .active {
    color: $primary_two;
  }

  .btn {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn--icon {
    height: 2.4rem;
    width: 2.4rem;
    stroke: #000000;
  }
}
@media only screen and (max-width: 1200px) {
  .pagination__ .pages {
    gap: 1rem;
  }
  .pagination__ .page {
    width: 3.2rem;
    height: 3.2rem;
  }
}
