.card__container__ {
  padding: 8rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  background: $primary_two;
}

.card-featured {
  position: relative;
  background-color: white;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  max-width: 340px;
  h2 {
    color: $primary_two;
    font-size: 1.8rem;
  }
  p {
    line-height: 17px;
    color: $primary_two;
    margin-top: 1rem;
  }
}

.card-featured img {
  display: block;
  width: 100%;
}

.overlay {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
}

.card-data {
  height: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  z-index: 3;
  background: $white;
  padding: 1rem;

  transition: top 0.4s, opacity 0.6s;
}

.card-data .card-name {
  color: $black;
  text-transform: uppercase;
}

.card-data .card-stat {
  font-size: 0.75rem;
  line-height: 1.2rem;
}

.card-data .card-stat .label {
  color: #959595;
  text-transform: uppercase;
}

.card-data .card-stat .data {
  color: $black;
  text-decoration: none;
  cursor: pointer;
}

.card-featured:hover .overlay {
  opacity: 0.5;
  transition: opacity 0.2s;
}

.card-featured:hover .card-screenshots {
  top: 0;
  opacity: 1;
  transition: top 0.4s, opacity 0.6s;
}

.card-screenshots {
  opacity: 0;
  position: absolute;
  z-index: 2;
  top: 100%;
  transition: top 0.4s, opacity 0.4s;
}

@media only screen and (max-width: 600px) {
  .card__container__ {
    flex-direction: column;
    align-items: center;
  }

  .card-data .card-name {
    font-size: 0.625rem;
  }

  .card-data .card-name h2 {
    margin: 0.625rem 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
  }

  .card-data .card-stat {
    font-size: 0.625rem;
    line-height: 1rem;
  }
}
@media only screen and (max-width: 992px) {
  .card__container__ {
    flex-direction: column;
    align-items: center;
  }
  .card__container__ h2 {
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 566px) {
  .card-featured {
    max-width: 200px;
  }
}
