.work_sec {
  padding: 10rem 0;
  text-align: center;
  min-height: 30vh;
  background-color: #01141b;

  .px-app_heading_two {
    width: 96%;
    max-width: 877px;
    h2 {
      margin: 0 0 1.5rem 0;
      text-align: right;
      color: #a7b8d6;
      &:before,
      &:after {
        content: none !important;
      }
    }
  }
  .paragraph_ {
    color: #a7b8d6;
    text-align: left;
    font-weight: 500;
  }
  .learn_more_btn {
    $button__width: 280px;
    width: $button__width;
    span {
      left: calc($button__width * 0.08);
    }
    &:hover:after {
      background-color: black;
    }
  }
  .work_ {
    background: $black;
    color: $white;
  }
}
