/* humberger */
.hamburger {
  cursor: pointer;
  position: relative;

  div {
    width: 3rem;
    height: 0.19rem;
    background-color: $white;
    margin: 0.5rem 0;
    display: flex;
    transition: transform 0.3s, width 0.4s;
    overflow: hidden;
    border: 1px solid #ffffff;
  }
  .line2 {
    width: 1.5rem;
  }
  span {
    position: absolute;
    top: 19px;
    font-weight: 400;
    font-size: 1rem;
    text-transform: uppercase;
    transition: color 0.4s ease-in-out;
    color: #e8e8e8;
  }

  &:hover {
    span {
      color: #050505;
    }
  }
}

@media only screen and (max-width: 992px) {
  .hamburger div {
    width: 2.6rem;
  }
  .hamburger span {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 766px) {
  .hamburger div {
    width: 2.4rem;
  }
  .hamburger span {
    font-size: 0.8rem;
  }
}
