$height: 100%;
$width: 100%;
.gallery {
  background: linear-gradient($primary_one, $primary_one);
  display: flex;
  padding: 0;
  transition: 0.3s;
  position: relative;

  &:hover &__image {
    filter: grayscale(1);
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 25%;
    .realty_listing_ {
      width: 100%;
      max-width: 1100px;
      padding: 4rem 20px;
      position: relative;

      .gallery__title {
        color: $primary_two;
        font-size: 6rem;

        span {
          color: $primary_three;
        }

        &:before {
          content: "01";
          font-size: 3.4rem;
          display: block;
          width: 67%;
          height: 0.4rem;
          background-color: $primary_three;
          position: absolute;
          top: calc($full__height * 1.2);
          left: calc($full__width * -0.01);
        }
        &:after {
          content: "";
          display: block;
          width: 100%;
          height: 0.4rem;
          background-color: $primary_two;
          position: absolute;
          top: calc($full__height * 1.1);
          right: calc($full__width * -0.1);
        }
      }
    }

    .btn_all_litsting {
      color: $white;
      z-index: 1000;
      transition: background 0.3s ease-in, color 0.3s ease-in;
      &:hover:after {
        background: $black;
      }
      &:hover {
        color: $primary_two;
        border: 0.1rem solid $primary_two;
      }
    }
  }

  &__link {
    margin: 0 2px 3px;
    overflow: hidden;

    &:hover {
      .gallery__image {
        filter: grayscale(1);
      }

      .gallery__caption {
        opacity: 1;
      }
    }
  }

  &__thumb {
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    transition: 0.5s;

    &:hover {
      transform: scale(1.2);
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-size: 16px;
    color: white;
    opacity: 1;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    transition: 0.3s;
  }
}
@media only screen and (max-width: 1200px) {
  .gallery {
    flex-direction: column;
    align-items: center;
    &__column {
      width: 70%;
    }
    &__link {
      margin: 1.4rem 0;
    }
    h2 {
      text-align: center;

      &:before,
      &:after {
        display: none !important;
      }
    }
  }
  .gallery__column .realty_listing_ {
    padding: 0 25px;
  }
  .gallery__caption span {
    font-size: 1.4rem;
  }
  .gallery__column .realty_listing_ .gallery__title {
    font-size: 3.2rem !important;
  }
}
