/*--------------------------------------------------------------
variable
--------------------------------------------------------------*/
$black: #000;
$font_size1: 1.6rem;
$weight_400: 400;
$width_3: 3rem;
$white: #ffffff;
$gradient_color1: linear-gradient(48deg, #ffffff, #ffffff);
$full__width: 100%;
$full__height: 100%;
$button__width: 190px;
$button_height: 49px;
$primary_one: #eceff1;
$primary_two: #1b1b1b;
$primary_three: #19469d;
