footer {
  height: $full__height;

  > div {
    padding: calc($full__height * 0.03) 0;
    .px-app-button {
      margin-top: 2rem;
      .reach__link__ {
        color: $black;
        border: 0.1rem solid $black;
      }
    }
  }
}
